<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ book.title }}</td>
        </tr>
        <tr *ngIf="book.author">
            <td>Author</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr *ngIf="book.genre">
            <td>Genre</td>
            <td>{{ book.genre }}</td>
        </tr>
        <tr *ngIf="book.publishedYear">
            <td>Published Year</td>
            <td>{{ book.publishedYear }}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-dark" [routerLink]="['/AllBooks']">
    Back
</button>